{% extends "base.html" %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
<div class="blog-post p-4" style="font-size: larger; margin-top: 2rem;margin-left: 2rem; margin-right: 2rem;">
    <!-- <h2 class="blog-post-title">About</h2> -->
    <!-- <div  class="markdown-body"> -->
    <p><img src="{{ url_for('static', filename='images/AMD.JPG') }}" style="float:right;width:auto;height:15rem;margin-right:2rem;margin-left:2rem;">
        I'm currently working at Wells Fargo as a quantitative analytics consultant in the credit risk modeling team. Previously, I obtained my PhD degree in Statistics from the University of Wisconsin-Madison.
    </p>
    <p>
        Since spring 2020, I'm enrolled as a part-time <a href="https://omscs.gatech.edu/">OMSCS</a> student at Georgia Tech focusing on Machine Learning. I'm also interested in high performance computing.
    </p>
    <!-- </div>   -->
</div>
{% endblock content %}