{% extends "base.html" %}

{% block content %}
<main role="main" clss="container">
    <div class="row">
        <div class="col-md-9 blog-main p-4">
            {% if list_title %}
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                {{ list_title }}
            </h3>
            {% endif %}
            {% for page in pages %}
            <div class="blog-post mb-2">
                <h2 class="blog-post-tile"><a href="{{ url_for('page', path=page.path) }}" style='color: #000;'>{{ page.title }}</a></h2>
                <p class="blog-post-meta">{{ page.date.strftime("%B %d, %Y") }}</p>
                {% if page.meta.tags|length %}
                <span class="text-info">
                <i class="fas fa-tags"></i></span>
                {% for page_tag in page.meta.tags %}
                <a href="{{ url_for('tag', tag=page_tag) }}" class="badge badge-info">{{ page_tag|capitalize }}</a>
                {% endfor %}
                {% endif %}
                {% if list_title %}
                <div  class="markdown-body">
                <p>{{ page.excerpt|safe }}</p>
            </div>
            <!-- <p>
                <a href="{{ url_for('page', path=page.path) }}" class="text-primary">Read More</a>
            </p> -->
                {% else %}
                <div  class="markdown-body">
                <p>{{ page.html|safe }}</p>
            </div>
                {% endif %}
            </div>
            <hr>
            {% else %}
            <div class="blog-post">No Posts.</div>
            {% endfor %}
        </div>
        <aside class="col-md-3 blog-sidebar">
            <div class="p-4">
                <h4 class="font-italic">Tags</h4>
                <ol class="list-unstyled mb-0">
                    {% if tags|length %}
                    {% for tag in tags %}
                    <!--<i class="fas fa-tags text-info"></i> --><a href="{{ url_for('tag', tag=tag[0]) }}" class="badge badge-info">{{ tag[0]|capitalize }}<!-- ({{ tag[1] }})--></a>
                    {% endfor %}
                    {% endif %}
                </ol>
            </div>
            <div class="p-4">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    {% if dates|length %}
                    {% for date in dates %}
                    <li><a href="{{ url_for('archive', date=date[0]) }}" class="text-dark">{{ date[0] }}<!-- ({{ date[1] }})--></a></li>
                    {% endfor %}
                    {% endif %}
                </ol>
            </div>
            <div class="p-4">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled mb-0">
                        <a href="https://github.com/kewellcjj" target="_blank"><i class="fab fa-github fa-2x p-2 text-dark" title="GitHub"></i></a>
                        <a href="https://www.linkedin.com/in/jiajie-chen/" target="_blank"><i class="fab fa-linkedin fa-2x p-2 text-dark" title="Linkedin"></i></a>
                        <a href="https://scholar.google.com/citations?user=I2AmPBMAAAAJ&hl=en" target="_blank"><i class="fab fa-google fa-2x p-2 text-dark" title="Google Scholar"></i></a>
                    </ol>
                </div>
        </aside>
    </div>
</main>
{% endblock content %}